.cta-container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
.cta-text {
  padding-top: 100px;
}
    
    .cta-buttons-wrapper {
      button {
      background-color: transparent;
      font-size: 28px;
      margin-top: 100px;
      margin-bottom: 30px;
      position: relative;
      border: none;
      background-color: transparent;
      color: #000;
      cursor: pointer;
      padding: 10px;
      outline: none;
      font-weight: bold;
      text-transform: uppercase;
      display: inline-block;
      margin: 50px;
      z-index: 1;
      
        &:hover::after,
        &:hover::before {
         width: 100%;
          height: 100%;
        }
        }
        a {
          width: 100%;
          height: 100%;
          z-index: 16;
          padding: 10px;
          text-decoration: none;
          position: relative;
          background-color: transparent;
        }
    }
  }



  @media only screen and (min-width: 1024px){ 
    .cta-container {
      height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 30px;
        font-weight: bold;
        
        .cta-buttons-wrapper {
          margin-top: 20px;
          button {
          background-color: transparent;
          font-size: 28px;
          margin-top: 100px;
          margin-bottom: 30px;
          position: relative;
          border: none;
          background-color: transparent;
          cursor: pointer;
          padding: 10px;
          outline: none;
          font-weight: bold;
          text-transform: uppercase;
          display: inline-block;
          margin: 50px;
          z-index: 1;
           
            
         
            &:hover::after,
            &:hover::before {
             width: 100%;
              height: 100%;
            }
            }
            a {
              width: 100%;
              height: 100%;
              z-index: 16;
              padding: 10px;
              text-decoration: none;
              position: relative;
            }
        }
      }
      .cta-container-n {
        color: #fff;
        background-color:#000;
        border-top: 1px solid #23b213;
        border-bottom: 1px solid #23b213;
        
        .cta-buttons-wrapper {
          button {
          color: #fff;
          z-index: 1;
    
              &::after {
    
              border-bottom-color: #23b213;
              border-right-color: #23b213;
            }
            &::before {
    
              border-top-color: #23b213;
              border-left-color: #23b213;
            }
     
            }
            a {
    
              color: #fff;
    
            }
        }
      }
  }