.service-list, .service-list-n {
    span {
        font-size: 30px;
        color: #08C3D5;
    }
    margin: 30px 0px;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
} 

.service-list-n {
    span {
        color: #23b213;
    }
}

p.service-p {
    padding-bottom: 50px;
}