.footer-container, .footer-container-n {
    background-color: #fff;
    border-top: 1px solid #08C3D5;
    width: 100%;
    height: 120px;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    a {
        color: #08C3D5;
        margin-left: 5px;
        text-decoration: none;
    }
}

.footer-container-n {
    background-color: #000;
    border-top: 1px solid #23b213;
    color: #fff;
    a {
        color: #23b213;
    }

}