.advantage-container, .advantage-container-n {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
padding: 10px;
border: none;
background-color: transparent;
outline: none;
margin: 0 30px;
font-weight: bold;
text-transform: uppercase;
  &::after
 {
      content: '';
    display: block;
    position: absolute;
    width: 60%;
    height: 60%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
    &::after {
       bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #08C3D5;
    border-right-color: #08C3D5;
  }


  &:hover::after
  {
       width: 100%;
    height: 100%;
  }
  .icon-wrapper {
height: 80px;   
width: 100px; 
text-align: center;
    position: relative;

     img {
       max-height: 100%;
       position: absolute;
       top: 0;
       left: 0;
    }
  }
   
    h6 {
        font-size: 20px;
        margin: 20px 0;
    }
    p {
        font-size: 16px;
        font-weight: normal;
    }
}
.advantage-container-n {
  &::after {
  border-bottom-color: #23b213;
  border-right-color: #23b213;
}

  h6 {
      color: #fff;
  }
  p {

      color: #fff;
  }
}