.language-button, .language-button-n {
    border: none;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    margin: 5px;
}

.language-button-n {
    color: #fff; 
}