.faq-container, .faq-container-n {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    .faq-content {
        padding: 0 100px;
    }
}

.faq-container-n {
  background-color: #000;
  margin-bottom: 0;
  
    .faq-content {
        padding: 0 100px;
        color: #fff;
        padding-bottom: 100px;
    }
}

